
.navbar{
    background-color: white;
    box-shadow: 5px 5px 5px grey;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top:0;
    z-index: 1000;
    padding: 2px;
    
}

.nav-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.nav-links{
    margin-left: 20px;
}

.nav-links a{
    color: #715693;
    font-size: 1.1rem;
    text-decoration: none;
    padding: 20px;

}

.nav-list a:hover{
    background-color: #D7BDDE;

}


.nav-list a li{
    font-size: 1.2rem;
    color: black;

    
}



.logo img{
    width: 60px;
    margin-left: 15px;
}

.nav-btn{
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 15px;
    font-size: 1.1rem;
    padding: 10px;
    width: 70px;
}

.btn:hover{
    color: black;
    background-color: #D7BDDE;
}

.bar-icon{
    display: none;
    margin-right: 15px;
}

.close-icon{
    display: none;
    color: #fff;
    position: absolute;
    top: 4%;
    right: 5%;
    
}


@media screen and (max-width: 768px){

    .nav-links{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    .nav-links a{
        color: #fff;
        font-size: 1.3rem;
    }

    .nav-links li{
        color: #715693 !important;
        font-size: 1.4rem !important;
    }

    .nav-btn{
        background-color: rgb(139, 139, 139, 0.5);
        color: #fff;
        border: 1px solid #fff;

    }
    

    .nav-list{
       position: absolute;
       flex-direction: column;
       justify-content: center;
       gap: 2rem;
       height: 100vh;
       top: 0;
       left: 0;
       background-color: rgba(0,0,0, 0.95);
       width: 0;
       overflow: hidden;
       transition: width 0.3s ease;
    }

    .bar-icon,.close-icon{
        display: block;
    }
    
    .nav-list.active{
        width: 100%;
    }

    .btn{
        margin: 0;
    }
    
}    

